{% extends "term/base.html" %}{% load static%}
{% load crispy_forms_tags %}



{% block body %}
<div class="jumbotron jumbo-vertical-center bg-dark mb-0 radius-0">
  <div class="container">
    <div class="login-form">
      {% if form.errors %}
      <p>There's something wrong with what you entered!</p>
      {% endif %} {% if next %}
      <p>Hey, you can't access that page.</p>
      {% endif %}

      <form action="/register/" method="post">
        {% csrf_token %}

        <h2 class="display-4 text-center">User registration</h2>
        {{ form | crispy}}
        <input type="submit" class="btn btn-primary btn-block mt-2" value="Register">
      </form>
      <p class="text-center"><a href="/accounts/login" class="text-decoration-none text-light"
          style="font-family: 'Fredoka One';font-size: 18px;">Already have account? Login &#129300;</a></p>

    </div>

  </div>
</div>


<!-- <div class="container py-5">

</div> -->

{% endblock %}