{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>El'terminoLOGY</title>
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap4-hello-world.min.css' %}">
    
    
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400" rel="stylesheet">
    
    
  </head>
  <body>
    <style> 
      .navab { 
          margin-left: auto; 
      } 
  </style> 

  <div class="bg-dark navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a href="/" class="text-decoration-none p-3 text-light" style="font-family: 'Fredoka One';font-size: 30px;">El'terminoLOGY</a>
          </div>
          <div class="navbar-nav navab ">
            {% if user.is_authenticated %}
            <a href="#" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">{{user.username}}</a>
            <a href="/accounts/logout/" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">Log-Out</a>
            <a href="/instructions/" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">Instructions</a>
            <a href="#" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">About-Us</a>
            
            {% else %}
            <a href="/register/" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">Sign-Up</a>
            <a href="/instructions/" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">Instructions</a>
            <a href="#" class="p-3 text-decoration-none text-light" style="font-family: 'Fredoka One';font-size: 18px;">About-Us</a>
            {% endif %}
            
            
          </div>
        </div>
      </nav>

    </div>
  </div>
{% block body%}

  

{% endblock%}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
