{% extends "term/base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{lev}} {% endblock %} {% block body %}
<div class="jumbotron jumbotron-fullheight jumbo-vertical-center bg-dark mb-0 radius-0">
    <div class="container">
        <div class="login-form">
            {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                <p class="text-center">
                <div class="alert alert-{{msg.level_tag}} alert-dismissible text-center" role="alert" style="font-family: 'Fredoka One';font-size: 18px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{msg.message}}
                </div>
                </p>
                {% endfor %}
            </ul>
            {% endif %}
            {% if form.errors %}
            <p>There's something wrong with what you entered!</p>
            {% endif %} {% if next %}
            <p>Hey, you can't access that page.</p>
            {% endif %}
            <form action="/level5/" method="post">
                {% csrf_token %}
                <p style="font-family: 'Fredoka One';font-size: 18px;">Points : {{point}}</p>
                <h2 class="display-4 text-center"> Level 5 </h2>
                <p class="text-center text-light" style="font-family: 'Fredoka One';font-size: 18px;"><a
                        href="#" class="text-decoration-none " style="color:darkslategray;">Unscramble the
                        word, "{{que}}" or rather type "_scramble" to re_scramble the word</a></p>
                {{form | crispy}}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="login">Submit</button>
                </div>
            </form>
            </div>

        {% endblock %}